.wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-row-gap: 10px;
  & .main {
    grid-column: 1/-1;
    min-height: 400px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .left_item {
    border: 1px solid #ccc;
  }

  & .right_item {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
